.movie-details{
    background-color: #232323;
    max-height: 300px;
    padding: 2% 5%;
    font-size: 130%;
    position: absolute;
    margin-top: 10px;
    z-index: 100;
    top: -500px;
    right: 0px;
}

.movie-details button{
    position: absolute;
    right: 40px; top: 15px;
}
.close-link{
    display: flex;
    justify-content: flex-end;
}



